/*TYPO*/
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$nunito: 'Nunito', sans-serif;
$defaultFontSize: 14px;
$defaultTextColor:  #d2d2d2;

/*COLORS*/
$appDarkBg: #10101E;
$appLightBg: #48496B;
$buttonBg: #565BFF;
$buttonHoverColor: #252654;
$activeColor: #565BFF;
$labelColor: #48496B;
$dangerColor: #ff7a7a;
